body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}
header {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-color: #007765;
    border: 1px solid yellow;
}
.header-logo {
    display: inline-block;
    text-align: center;
}
.navi-bar {
    display: inline-block;
    margin-left: 502px;
    border: 1px solid black;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.content {
    margin: 0 auto;
    width: 1219px;
    padding: 0 55px;
    border: 1px solid red;
}
.jumbotron {
    color: #ffffff;
    text-align: center;
    background-image: url(img/jumbotron-bg.png);
    background-size: auto 403px;
    background-position: center;
}
.jumbotron-text {
    font-size: 72px;
    padding: 160px 0;
}
h2 {
    text-align: center;
    font-size: 64px;
    color: #007765;
    padding-top: 48px;
    
}
.the-problem {
    background-color: #EEEEEE;
    font-size: 32px;
    font-weight: 400;
}
.hero {
    color: #ffffff;
    text-align: center;
    background-image: url(img/hero-bg.png);
    background-size: auto 403px;;
    background-position: center;

}
.hero-text {
    font-style: italic;
    font-size: 48px;
    padding: 128px 50px 127px 50px;

}
.PPC {
    font-size: 32px;
    font-weight: 400;
}
.PPC-Logo {
    width: 115px;
    display: inline-block;
}
.logo-text {
    display: inline-block;
}
.team {
    background-color: #EEEEEE;
    text-align: center;
}
.card {
    display: inline-block;
    margin: 15px;
    border: 1px solid red;
}

.worker-photo {
    padding:  24px 91px 12px;
}
.worker-name {
    color: #007765;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.worker-position {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
.footer {
    text-align: center;
    margin: auto;
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 62px;
}
.footer-text {
    font-size: 18px;
    font-weight: 400;
    width: 540px;
    margin: auto;
    font-style: normal;
    color: white;
}
